* {
    margin: 0;
    padding: 0;
}
.header-top {
    background: black;
    height: 35px;
    color: white;
    margin-top: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: burlywood;
    width: 100%;
    left: 0;
    z-index: 1;
}
/*////////////////////////////////////////////////
//NAVIGATION//////////////////////////////////////////
////////////////////////////////////////////////*/

.nav-btn {
    font-size: 14px !important;
    text-transform: uppercase;
}

.menu-area {
    position: static;
}

.mega-area {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    padding: 15px;
}
/*////////////////////////////////////////////////
//SLIDE///////////////////////////////////////////
////////////////////////////////////////////////*/
.cover-items-slider {
    margin-top: 20px;
}

.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slide-block {
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.slide img {
    width: 100%;
}


.slide-block .slide {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    visibility: hidden;
}

.slide-block .slide.active{
    opacity: 1;
    visibility: visible;
}

.controls span{
    color: black;
    opacity: 60%;
    font-size: 40px;
}

span#btn-prev{
    position: absolute;
    top: 50%;
    left: 1%;
    z-index: 10;
    cursor: pointer;
}
span#btn-next{
    position: absolute;
    top: 50%;
    right: 1%;
    z-index: 10;
    cursor: pointer;
}


span#btn-slide {
    font-size: 14px;
    cursor: pointer;
}


.slick-dots {
    position: absolute;
    z-index: 10;
    width: 100px;
    bottom: 10%;
    left: 50%;
    margin-left: -50px;
    display: flex;
    justify-content: space-between;
}

.slick-dots .dot {
    background: black;
    width: 20px;
    height: 20px;
    opacity: 50%;
    list-style: none;
    border-radius: 50%;
    cursor: pointer;
    transform: 0.6s;
}

.slick-dots .dot.active {
    opacity: 90%;
}
/*
!!!CONTROL BUTTON SLICK
*/

/*
###ANIMATION SLIDE
*/

.disappear-left{
    animation: disappear-left 1s forwards; /* Tên hiệu ứng Chạy xong, giữ nguyên trạng thái*/
}
@-webkit-keyframes disappear-left{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
}


.appear-left{
    animation: appear-left 1s forwards; /* Tên hiệu ứng Chạy xong, giữ nguyên trạng thái*/
}
@-webkit-keyframes appear-left{
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0%);
    }
}

.disappear-right{
    animation: disappear-right 1s forwards; /* Tên hiệu ứng Chạy xong, giữ nguyên trạng thái*/
}
@-webkit-keyframes disappear-right{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(100%);
    }
}


.appear-right{
    animation: appear-right 1s forwards; /* Tên hiệu ứng Chạy xong, giữ nguyên trạng thái*/
}
@-webkit-keyframes appear-right{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
}

/*////////////////////////////////////////////////
//CONTENT-GRID////////////////////////////////////
////////////////////////////////////////////////*/
.content-grid {
    padding: 20px;
}

