<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foxv | Mua Online Quần Áo Giá Rẻ</title>
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="/static/css/bootstrap413.css">
    <link rel="stylesheet" href="/static/css/style.css">


    <script src="/static/font-awesome/all.js"></script>
    <script src="/static/js/jquery-3.5.1.min.js"></script> <!--jquery-3.5.1.min.js -> full standard -->
    <script src="/static/js/bootstrap413.js"></script>
    <script src="/static/js/VICscript.js"></script>

</head>
<body>
<!-- HEADER-TOP -->
<!-- key1 -->
    <div class="header-top">
        <div class="container">
            <div class="tilte-intro">
                <div class="row">
                    <div class="col-sm-6">
                        <p>MIỄN PHÍ VẬN CHUYỂN</p>
                    </div> 
                    <div class="col-sm-6">
                        <div class="information">
                            <span>O</span>
                            <span>O</span>
                            <span>O</span>
                        </div> <!-- !Infomation -->
                    </div>
                </div>
            </div> <!--!tilte-intro-->
        </div>
    </div> <!-- !HEADER-TOP -->

<!--HEADER-->
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1><a href="index.html" id="logo-foxv"><img src="/static/img/logo_foxvboutique.png"></a></h1>                
            </div>
        </div>
    </div>
</div><!--HEADER-->

<!-- /////////////////////////////////////////////
//MENU NAVIGATION/////////////////////////////////
////////////////////////////////////////////// -->

<!-- key2 -->
    <div class="nav-menu">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="nav-barnd h5 logo-brand" href="/index.html">Foxv Boutique</div>
                        <div class="navbar-collapse collapse " id="navbarContent">
                            <ul class="navbar-nav m-auto">
                                <li class="nav-item nav-btn">
                                    <!-- active -->
                                    <a id="nav-menu-btn-home" class="nav-link" href="index.html" style="font-weight: bold;">HOT BÁN CHẠY</a>
                                    <!-- <span class="sr-only">(current)</span> -->
                                </li>
                                <li class="nav-item nav-btn dropdown menu-area">
                                    <!-- active -->
                                    <a class="nav-link" href="" id="mega-one" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-weight: bold;">THỜI TRANG NỮ</a>
                                    <!-- <span class="sr-only">(current)</span> -->
                                    <div class="dropdown-menu mega-area" aria-labelledby="mega-one">
                                        <div class="row">                                
                                            <div class="col-sm-6 col-lg-3">
                                                <div class="mega-area-content">
                                                    <a href="#quanao" class="dropdown-item" style="font-weight: bold">QUÀ TẶNG</a>
                                                    <img src="/static/img/20210203-main-nav-Ao-Quan.jpg" alt="gift">
                                                    <ul class="mega-area-content-list">
                                                            <a href="#" class="dropdown-item">Tặng cho bạn trai</a>
                                                            <a href="#" class="dropdown-item">Tặng cho cha mẹ</a>
                                                    </ul>
                                                    <div class="dropdown-divider"></div>
                                                </div>
                                                <div class="mega-area-content">
                                                    <a href="#quanao" class="dropdown-item" style="font-weight: bold">WAHT </a>
                                                    <img src="/static/img/20210203_main-nav-push.webp" alt="gift">
                                                    <ul class="mega-area-content-list">
                                                            <a href="#" class="dropdown-item">Gift</a>
                                                    </ul>
                                                    <div class="dropdown-divider"></div>
                                               </div>
                                            </div><!-- /col -->
                                            <div class="col-sm-6 col-lg-2">
                                                <a href="#quanao" class="dropdown-item" style="font-weight: bold">ÁO</a>
                                                <a href="#" class="dropdown-item">Áo sơ mi</a>
                                                <a href="#" class="dropdown-item">Áo thun</a>
                                                <a href="#" class="dropdown-item">Áo len</a>
                                                <a href="#" class="dropdown-item">Áo hai dây</a>
                                                <a href="#" class="dropdown-item">Áo bẹt vai</a>
                                                <a href="#" class="dropdown-item">Áo kiều</a>
                                                <a href="#" class="dropdown-item">Áo POLO</a>
                                                <a href="#" class="dropdown-item">Áo khoác</a>
                                                <div class="dropdown-divider"></div>
                                            </div>
                                            <div class="col-sm-6 col-lg-2">
                                                <a href="#quanao" class="dropdown-item" style="font-weight: bold">QUẦN</a>
                                                <a href="#" class="dropdown-item">Quần short</a>
                                                <a href="#" class="dropdown-item">Váy</a>
                                                <a href="#" class="dropdown-item">Xà cạp</a>
                                                <a href="#" class="dropdown-item">Quần thể thao</a>
                                                <div class="dropdown-divider"></div>
                                            </div>
                                            <div class="col-sm-6 col-lg-2">
                                                <a href="#quanao" class="dropdown-item" style="font-weight: bold">ĐẦM</a>
                                                <a href="#" class="dropdown-item">Đầm công sở</a>
                                                <a href="#" class="dropdown-item">Đầm dạ tiệc</a>
                                                <a href="#" class="dropdown-item">Đầm dạo phố</a>
                                                <a href="#" class="dropdown-item">Đầm Maxi</a>
                                                <div class="dropdown-divider"></div>
                                            </div>
                                            <div class="col-sm-6 col-lg-2">
                                                <a href="#quanao" class="dropdown-item" style="font-weight: bold">ĐỒ LÓT - ĐỒ NGỦ</a>
                                                <a href="#" class="dropdown-item">Đồ lót</a>
                                                <a href="#" class="dropdown-item">Đồ ngủ</a>
                                                <a href="#" class="dropdown-item">TRANG SỨC</a>
                                                <a href="#" class="dropdown-item">Trang phục gợi cảm</a>
                                                <a href="#" class="dropdown-item">Bộ đồ lót & Quần lót</a>
                                                <div class="dropdown-divider"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item nav-btn">
                                    <!-- active -->
                                    <a class="nav-link" href="#" style="font-weight: bold;">HƯƠNG THƠM</a>
                                    <!-- <span class="sr-only">(current)</span> -->
                                </li>
                                <li class="nav-item nav-btn">
                                    <!-- active -->
                                    <a class="nav-link" href="#" style="font-weight: bold;">TRANG ĐIỂM</a>
                                    <!-- <span class="sr-only">(current)</span> -->
                                </li>
                                <li class="nav-item nav-btn">
                                    <!-- active -->
                                    <a class="nav-link " href="#" style="font-weight: bold;">SỰ KIỆN - QUÀ TẶNG</a>
                                    <!-- <span class="sr-only">(current)</span> -->
                                </li>
                            </ul>
                            <form class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
                            </form>
                        </div>
                    </nav>
                </div>
            </div><!-- row -->
        </div> <!-- container -->
    </div><!-- nav-menu -->


<!-- /////////////////////////////////////////////
//BANNER-MAIN/////////////////////////////////////
////////////////////////////////////////////// -->
<!-- key3 -->
<div class="cover-items-slider">
    <div class="container">
        <div class="slider-container">
            <div class="slide-block">
                
                <div id="slide-1" class="slide active">
                    <img src="/static/img/slide-01.webp" alt="">
                </div>
                <div id="slide-2" class="slide">
                    <img src="/static/img/slide-02.webp" alt="">
                </div>
                <div id="slide-3" class="slide">
                    <img src="/static/img/slide-03.webp" alt="">
                </div>
                <div id="slide-4" class="slide">
                    <img src="/static/img/slide-04.png" alt="">
                </div>
                
            </div>
            <div class="slick-slider slick-initialized">
                <div class="controls">
                    <span id="btn-prev"><i class="fas fa-chevron-circle-left"></i></span>
                    <span id="btn-next"><i class="fas fa-chevron-circle-right"></i></span>
                </div>
                <div class="slick-list">
                    <div class="slick-buttom">
                        <!--4 cir-btn-->
                        <ul class="slick-dots">
                            <li id="dot-1" class="dot active"></li>
                            <li id="dot-2" class="dot"></li>
                            <li id="dot-3" class="dot"></li>
                            <li id="dot-4" class="dot"></li>
                        </ul>
                    </div>
                </div>
                <div class="slick-bottom">

                </div>
            </div>
        </div>
    </div>
</div> <!-- !BANNER-MAIN-->

<!-- /////////////////////////////////////////////
//CONTENT-GRID////////////////////////////////////
////////////////////////////////////////////// -->
<!-- key4 -->
<div class="content-grid">
    <div class="containe grid-box">
        <div class="row ">
            <div class="col-sm-4 grid-box">
                <h1><a href="index.html" id="logo-foxv"><img src="/static/img/content-grid-1.jpg"></a></h1>
                <h1><a href="index.html" id="logo-foxv"><img src="/static/img/content-grid-1.jpg"></a></h1>
            </div>
            <div class="col-lg-4 grid-box">
                <h1><a href="index.html" id="logo-foxv"><img src="/static/img/content-grid-1.jpg"></a></h1>
                <h1><a href="index.html" id="logo-foxv"><img src="/static/img/content-grid-1.jpg"></a></h1>
            </div>
            <div class="col-lg-4">
                <h1><a href="index.html" id="logo-foxv"><img src="/static/img/content-grid-1.jpg"></a></h1>
            </div>
        </div>
    </div>
</div><!-- !CONTENT-GRID -->

<!-- /////////////////////////////////////////////
//products-selection////////////////////////////////////
////////////////////////////////////////////// -->
<!-- key5 -->
<div class="products-selection">
    <div class="container">
        <div class="row">
            <div class="col-sm">

            </div>
        </div>
    </div>
</div>


<!-- /////////////////////////////////////////////
//UNIVERSE////////////////////////////////////////
////////////////////////////////////////////// -->
<!-- key6 -->
<div class="universe">
    <div class="container">
        <div class="row">
            <div class="universe-cover">
                <div class="col-md-12">
                    <div class="img-universe-cover">
                        <img src="/static/img/universe-card-01.webp" alt="" srcset="">
                    </div>
                </div>
            </div><!--universe-cover-->
            <div class="universe-card-grid">
                <div class="col-sm-3">
                    <div class="universe-card">
                        <a href="#">
                            <div class="image">
                                <img src="/static/img/universe-card-01.webp" alt="" srcset="">
                            </div>
                            <div class="universe-card-text">
                                ÁO ĐẸP
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="universe-card">
                        <a href="#">
                            <div class="image">
                                <img src="/static/img/universe-card-01.webp" alt="" srcset="">
                            </div>
                            <div class="universe-card-text">
                                ÁO ĐẸP
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="universe-card">
                        <a href="#">
                            <div class="image">
                                <img src="/static/img/universe-card-01.webp" alt="" srcset="">
                            </div>
                            <div class="universe-card-text">
                                ÁO ĐẸP
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="universe-card">
                        <a href="#">
                            <div class="image">
                                <img src="/static/img/universe-card-01.webp" alt="" srcset="">
                            </div>
                            <div class="universe-card-text">
                                ÁO ĐẸP
                            </div>
                        </a>
                    </div>
                </div>
            </div><!--universe-cover-->
        </div><!--row-->

            <!-- <div class="universe-grid universe-grid--with-cover"></ul>
        </div>
        <div class="row">
            <div class="universe-card">
                <a href="#">
                    <div class="image">
                        <img src="/static/img/universe-card-01.webp" alt="" srcset="">
                    </div>
                    <div class="universe-card-text">
                        ÁO ĐẸP
                    </div>
                </a>
            </div>
            <div class="universe-card">
                <a href="#">
                    <div class="image">
                        <img src="/static/img/universe-card-01.webp" alt="" srcset="">
                    </div>
                    <div class="universe-card-text">
                        ÁO ĐẸP
                    </div>
                </a>
            </div>
            <li class="universe-card">
                <a href="#">
                    <div class="image">
                        <img src="/static/img/universe-card-01.webp" alt="" srcset="">
                    </div>
                    <div class="universe-card-text">
                        ÁO ĐẸP
                    </div>
                </a>
            </li><li class="universe-card">
                <a href="#">
                    <div class="image">
                        <img src="/static/img/universe-card-01.webp" alt="" srcset="">
                    </div>
                    <div class="universe-card-text">
                        ÁO ĐẸP
                    </div>
                </a>
            </li> -->

    </div><!--container-->
</div><!-- universe -->

</body>
</html>