<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FOXV Boutique</title>
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="/static/css/bootstrap413.css">
    <link rel="stylesheet" href="/static/css/style.css">

    <script src="https://kit.fontawesome.com/055a96aa27.js" crossorigin="anonymous"></script>

    <script src="/static/js/jquery-3.5.1.min.js"></script> <!--jquery-3.5.1.min.js -> full standard -->
    <script src="/static/js/bootstrap413.js"></script>
   <script src="/static/js/VICscript.js"></script>

</head>
<body>
<!-- HEADER-TOP -->
    <div class="header-top">
        <div class="container">
            <div class="tilte-intro">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="introduction">
                            <span>O</span>
                            <span>O</span>
                            <span>O</span>
                        </div> <!--!Introduction-->
                    </div> 
                    <div class="col-sm-6">
                        <div class="information">
                            <span>O</span>
                            <span>O</span>
                            <span>O</span>
                        </div> <!-- !Infomation -->
                    </div>
                </div>
            </div> <!--!tilte-intro-->
        </div>
    </div> <!-- !HEADER-TOP -->
<!--MENU-NAVIGATION-->
    <div class="menu-navtab">
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                          </div>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link disabled" href="#">Disabled</a>
                        </li>
                      </ul>
                      <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                      </form>
                    </div>
                  </nav>
            </div>
        </div>
    </div>


<!--BANNER-MAIN-->
    <div class="banner-main">
        <div class="container">
            <div class="row">

            </div>
        </div>
    </div> <!-- !BANNER-MAIN-->

    
</body>
</html>