<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FOXV Boutique</title>
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="/static/css/bootstrap-5b1.css">
    <script src="/static/js/bootstrap-5b1.js"></script>

    <!-- CUSTOM -->
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/VICscript.js"></script>

</head>
<body>
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    
                    <span>a</span>
                    <span>b</span>
                    <span>c</span>
                </div>
                <div class="col-xs-6">
                    <div class="information">
                        <span>a</span>
                        <span>b</span>
                        <span>c</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>